/*Start Update Loginوregister,reset-password Page*/
.oe_website_login_container .oe_login_form div label,
.oe_website_login_container .oe_signup_form div label,
.oe_website_login_container .oe_reset_password_form div label{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.oe_website_login_container .oe_login_form div input,
.oe_website_login_container .oe_signup_form div input,
.oe_website_login_container .oe_reset_password_form div input{
    height: 48px;
    border-radius: 8px;
    border: 1px solid #A4A5A8;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color: #8A8C8F;
    caret-color: #8A8C8F;
}

.oe_website_login_container .oe_login_form div input::placeholder,
.oe_website_login_container .oe_signup_form div input::placeholder,
.oe_website_login_container .oe_reset_password_form div input::placeholder{
    padding-left: 3px;
}

.oe_website_login_container .oe_login_form .oe_login_buttons button,
.oe_website_login_container .oe_signup_form .oe_login_buttons button,
.oe_website_login_container .oe_reset_password_form .oe_login_buttons button{
    height: 48px;
    background-color: #F26122;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.oe_website_login_container .oe_login_form .oe_login_buttons a,
.oe_website_login_container .oe_signup_form .oe_login_buttons a,
.oe_website_login_container .oe_reset_password_form .oe_login_buttons a{
    font-size: 16px;
    font-weight: 500;
    color: #57595B;
    margin-top: 10px;
}
/*End Update Loginوregister,reset-password Page*/
