/*Start s_icon_block_5 Style*/
.s_icon_block_5{
  overflow: hidden;
}
.s_icon_block_5 .swiper-wrapper .swiper-slide{
  padding: 16px !important;
  background-color: #FEEEE7 !important;
  border-radius: 12px !important;
  cursor: pointer;
}
.s_icon_block_5 .swiper-wrapper .swiper-slide img{
  height: 120px;
  object-fit: contain;
}
.s_icon_block_5 .swiper-wrapper .swiper-slide h6{
  font-size: 18px !important;
  font-weight: 600;
  color: #0C0D0D;
}
.s_icon_block_5 .mySwiper .left-btn::after,
.s_icon_block_5 .mySwiper .right-btn::after{
  display: none !important;
}
.s_icon_block_5 .mySwiper .left-btn,
.s_icon_block_5 .mySwiper .right-btn{
    display: none !important;
}
@media (max-width: 600px){
  .s_icon_block_5 .swiper-wrapper .swiper-slide img{
    height: 70px;
  }
  .s_icon_block_5 .swiper-wrapper .swiper-slide h6{
    font-size: 13px !important;
  }
}
/*End s_icon_block_5 Style*/