/*Start Product-Page Style*/
/*top-links-style*/
#product_detail .top-links{
    margin-top: 20px;
}
#product_detail .top-links .col-auto ol li::before{
    display: none;
}
#product_detail .top-links .col-auto ol li{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 12px;
}
#product_detail .top-links .col-auto ol li a{
    font-size: 16px;
    font-weight: 400;
    color: #8A8C8F;
}
#product_detail .top-links .col-auto ol li a.active{
    color: #8A8C8F;
}
#product_detail .top-links .col-auto ol li i{
    font-size: 15px;
    color: #8A8C8F;
}
#product_detail .top-links .col-auto:nth-child(2){
    display: none;
}

/*product_detail_main Style*/
#product_detail #product_detail_main{
    flex-wrap: nowrap !important;
    overflow-x: hidden !important;
}
#product_detail #product_detail_main .o_wsale_product_images{
    width: 35% !important;
}
#product_detail #product_detail_main #product_details{
    width: 35% !important;
}
/*col-three product-details*/
/*main-col*/
#product_detail #product_detail_main .col-three-product{
    width: 274px !important;
    height: fit-content;
    padding: 16px;
    background-color: #ffffff;
    border: 1px solid #A4A5A8;
    border-radius: 12px;
}
/*col-price-product*/
#product_detail #product_detail_main .col-three-product .col-price-product{
    width: 100%;
    margin-bottom: 10px;
}
#product_detail #product_detail_main .col-three-product .col-price-product h3 span{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
#product_detail #product_detail_main .col-three-product .col-price-product h3 span.h6{
    display: none;
}
#product_detail #product_detail_main .col-three-product .col-delivery{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
#product_detail #product_detail_main .col-three-product .col-delivery div{
    display: flex;
   align-items: center;
    gap: 8px;
}
#product_detail #product_detail_main .col-three-product .col-delivery div img{

}
#product_detail #product_detail_main .col-three-product .col-delivery div p{
    font-size: 16px;
    font-weight: 600;
    color: #F26426;
   margin-top: 15px;
}
#product_detail #product_detail_main .col-three-product .col-delivery i{
    font-size: 17px;
    color: #F26426;
}
#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper{ 
    display: flex;
    flex-direction: column !important;
    gap: 20px;
    flex-wrap: wrap !important;
}
#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper #add_to_cart_wrap{ 
    display: flex !important;
    flex-direction: column !important;
}
/*free-delivery-p*/
#product_detail #product_detail_main .col-three-product .freedelivery-col{
    display: flex;
   align-items: center;
    gap: 4px;
    width: 100%;
    height: 30px;
}
#product_detail #product_detail_main .col-three-product .freedelivery-col span{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    color: #F26426;
}
#product_detail #product_detail_main .col-three-product .freedelivery-col p{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-top: 18px;
}




#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper .css_quantity{ 
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border: 1px solid #57595B;
    border-radius: 4px;
    padding: 4px;
}
#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper .css_quantity a{ 
    width: 78px;
    height: 40px;
    background-color: #FEEEE7;
    display: flex;
    justify-content: center;
    align-items: center;
}
#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper .css_quantity a i{ 
   font-size: 17px;
    font-weight: 600;
    color: #F26426;
}
#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper .css_quantity input{ 
    font-size: 20px;
    font-weight: 600;
    color: #0C0D0D;
}

#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper #add_to_cart_wrap{ 
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important ;
}
#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper #add_to_cart_wrap #add_to_cart{ 
    width: 100% !important;
    height: 48px;
    background-color: #F26122;
    color: #FFFFFF;
    border: none !important;
    outline: none !important;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px !important;
    font-size: 20px;
    font-weight: 600 !important;
}
#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper #add_to_cart_wrap .o_we_buy_now{ 
    width: 100% !important;
    height: 48px;
    background-color: #FEEEE7;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    color: #F26426;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px !important;
    border: none !important;
}
#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper #add_to_cart_wrap .o_we_buy_now:hover{
    box-shadow: none !important;
}
#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper #product_option_block{ 
    width: 100%;
    display: flex !important;
    flex-direction: row-reverse !important;
    gap: 16px;
    border-bottom: 0.4px solid #A4A5A8;
    padding-bottom: 10px;
    margin-top: -20px !important;
}
#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper #product_option_block button span font{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px!important;
    font-weight: 400  !important;
    color: #8A8C8F !important;
}
#product_detail #product_detail_main .col-three-product form #o_wsale_cta_wrapper #product_option_block button span img{ 
    font-size: 24px;
}
#product_detail #product_detail_main .col-three-product  .all-icons .col-icon{
    width: 100% !important;
    display: flex  !important;
    align-items: center  !important;
    flex-direction: row !important;
    gap: 4px;
}
#product_detail #product_detail_main .col-three-product  .all-icons .col-icon p{
    font-size: 16px;
    font-weight: 400;
    color: #57595B;
    margin-top: 12px;
}

#product_detail #product_detail_main .col-three-product form #out_of_stock_message .text-danger{
    font-size: 20px;
    font-weight: 600;
    color: #E6002A;
}
#product_detail #product_detail_main .col-three-product form #out_of_stock_message .text-danger i{
    font-size: 24px;
    color: #E6002A;
}
/*End Product-Page Style*/