<t name="Reset password" t-name="auth_signup.reset_password">
    <t t-call="web.login_layout">
        <div t-if="message" class="oe_login_form clearfix">
            <p class="alert alert-success" t-if="message" role="status">
                <t t-esc="message" />
            </p>
            <a href="/web/login" class="btn btn-link btn-sm float-start" role="button">Back to Login</a>
        </div>

        <form class="oe_reset_password_form" role="form" method="post" t-if="not message">
            <input type="hidden" name="csrf_token" t-att-value="request.csrf_token()" />

            <t t-if="token and not invalid_token">
                <t t-call="auth_signup.fields">
                    <t t-set="only_passwords" t-value="1" />
                </t>
            </t>

            <div class="col-heading">
                <h1>Forget your password?</h1>
                <p>Enter the email address
                    associated with your Edadcom account.</p>
            </div>

            <t t-if="not token">
                <div class="mb-3 field-login">
                    <label for="login" class="col-form-label">Email address</label>
                    <input type="email" placeholder="Enter your email" name="login" t-att-value="login" id="login"
                        class="form-control" autofocus="autofocus" required="required" autocapitalize="off" />
                </div>
            </t>

            <p class="alert alert-danger" t-if="error" role="alert">
                <t t-esc="error" />
            </p>
            <input type="hidden" name="redirect" t-att-value="redirect" />
            <input type="hidden" name="token" t-att-value="token" />
            <div class="clearfix oe_login_buttons d-grid mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="d-flex justify-content-between align-items-center small mt-2">
                    <a t-if="not token" t-attf-href="/web/login?{{ keep_query() }}">Back to Login</a>
                    <a t-if="invalid_token" href="/web/login">Back to Login</a>
                </div>
                <div class="o_login_auth" />
            </div>

        </form>

    </t>
</t>